html, body {
  margin: 0;
}

.main-input {
  position: absolute;
  left: -100000px;
}

.CodeMirror {
  border: 1px solid black;
  height: 400px;
  width: 600px;
  position: absolute;
}

.render-button {
  position: absolute;
  bottom: 0;
}