html, body {
  margin: 0;
}

.main-input {
  position: absolute;
  left: -100000px;
}

.CodeMirror {
  border: 1px solid black;
  border-radius: 10px;
  height: 400px;
  width: 600px;
  position: absolute;
  padding: 10px;
}

.render-button {
/*  position: absolute;
  bottom: 0;
*/}

.menu {
  background: white;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
}

#handle {
  cursor: pointer;
}