html, body {
  margin: 0;
}

canvas {
  display: block;
}

.input-area {
  position: absolute !important;
}

.main-input {
  position: absolute;
  left: -100000px;
}

.CodeMirror {
  border: 1px solid black;
  border-radius: 10px;
  height: 400px;
  width: 600px;
  position: absolute;
  padding: 10px;
}

.menu {
  background: white;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

#handle {
  cursor: pointer;
}